body{
    height: 100vh;
    margin: 0;
}

.fill {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}